{% extends 'main.html' %}
{% block jumbotron %}
<div>
    <h2>find job in your city</h2>
{#
    <form method="get" action="{{ url_for('employee.search') }}">
        <div class="form-group">
            <input type="search"  name="q" class="form-control" placeholder="{{_('where you want your job?')}}">
        </div>

    </form> #}
</div>
<div class="form-group">

        <select class="form-control" id="country" name="country" required>
            <option value="Eg">{{_('Egypt')}}</option>
            <option value="Jo">{{_('Jordan')}}</option>
            <option value="Sa">{{_('Saudi')}}</option>
        </select>

</div>
<div class="form-group">
<select class="form-control" id="province" name="province" required>
    <option value="Asyut Governorate">{{ _('Asyut Governorate') }}</option>
    <option value="Aswan Governorate">{{ _('Aswan Governorate') }}</option>
    <option value="Alexandria Governorate">{{ _('Alexandria Governorate') }}</option>
    <option value="Beheira Governorate">{{ _('Beheira Governorate') }}</option>
    <option value="Beni Suef Governorate">{{ _('Beni Suef Governorate')}}</option>
    <option value="Cairo Governorate">{{ _('Cairo Governorate') }}</option>
    <option value="Dakahlia Governorate">{{ _('Dakahlia Governorate') }}</option>
    <option value="Damietta Governorate">{{ _('Damietta Governorate') }}</option>
    <option value="Faiyum Governorate">{{ _('Faiyum Governorate') }}</option>
    <option value="Gharbia Governorate">{{ _('Gharbia Governorate') }}</option>
    <option value="Giza Governorate">{{ _('Giza Governorate') }}</option>
    <option value="Ismailia Governorate">{{ _('Ismailia Governorate') }}</option>
    <option value="Kafr el-Sheikh Governorate">{{ _('Kafr el-Sheikh Governorate') }}</option>
    <option value="Luxor Governorate">{{ _('Luxor Governorate') }}</option>
    <option value="Matrouh Governorate">{{ _('Matrouh Governorate') }}</option>
    <option value="Minya Governorate">{{ _('Minya Governorate') }}</option>
    <option value="Monufia Governorate">{{ _('Monufia Governorate') }}</option>
    <option value="New Valley Governorate">{{ _('New Valley Governorate') }}</option>
    <option value="North Sinai Governorate">{{ _('North Sinai Governorate') }}</option>
    <option value="Port Said Governorate">{{ _('Port Said Governorate') }}</option>
    <option value="Qalyubia Governorate">{{ _('Qalyubia Governorate') }}</option>
    <option value="Qena Governorate">{{ _('Qena Governorate') }}</option>
    <option value="Red Sea Governorate">{{ _('Red Sea Governorate') }}</option>
    <option value="Sohag Governorate">{{ _('Sohag Governorate') }}</option>
    <option value="South Sinai Governorate">{{ _('South Sinai Governorate') }}</option>
    <option value="Suez Governorate">{{ _('Suez Governorate') }}</option>
    <option value="Al Hudud ash Shamaliyah">{{ _('Al Hudud ash Shamaliyah') }}</option>
    <option value="Al Bahah">{{ _('Al Bahah') }}</option>
    <option value="Al Jawf">{{ _('Al Jawf') }}</option>
    <option value="Al Madinah">{{ _('Al Madinah') }}</option>
    <option value="Al Qasim">{{ _('Al Qasim') }}</option>
    <option value="Ar Riyad">{{ _('Ar Riyad') }}</option>
    <option value="Ash Sharqiyah">{{ _('Ash Sharqiyah') }}</option>
    <option value="Asir">{{ _('Asir') }}</option>
    <option value="Hail">{{ _('Hail') }}</option>
    <option value="Jizan">{{ _('Jizan') }}</option>
    <option value="Makkah">{{ _('Makkah') }}</option>
    <option value="Najran">{{ _('Najran') }}</option>
    <option value="Tabuk">{{ _('Tabuk') }}</option>
    <option value="Ajlun">{{ _('Ajlun') }}</option>
    <option value="Al Aqabah">{{ _('Al Aqabah') }}</option>
    <option value="Al Balqa">{{ _('Al Balqa') }}</option>
    <option value="Al Karak">{{ _('Al Karak') }}</option>
    <option value="Al Mafraq">{{ _('Al Mafraq') }}</option>
    <option value="Amman">{{ _('Amman') }}</option>
    <option value="At Tafilah">{{ _('At Tafilah') }}</option>
    <option value="Az Zarqa">{{ _('Az Zarqa') }}</option>
    <option value="Irbid">{{ _('Irbid') }}</option>
    <option value="Jarash">{{ _('Jarash') }}</option>
    <option value="Madaba">{{ _('Madaba') }}</option>
    <option value="Maan">{{ _('Maan') }}</option>
</select>
</div>
<button class="btn btn-primary" id='search_button'>{{ _('search') }}</button>
<div class="main">
    <div class="accordion" id="accordionExample">
     <template id="sad">
      <div class="card" style="margin-bottom:12px">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>

            <a class="link" href=""><button class="btn btn-secondary btn-lg btn-block">apply</button></a>
        </div>
      </div>
            </template>
    </div>
</div>
<!-- <script src="/static/js/eliminate.js"></script> -->
<script src="/static/js/search.js"></script>

{% endblock %}
