<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Jobs {% endblock %}</title>
    {% block links %}
    <link rel="stylesheet" href="static/css/master.css">
    {% endblock %}
  </head>
  <body>
    {% block header %}

    <header>
      <ul>
        <li>main</li>
        <li>about</li>
        <li>don't know what to type here</li>
      </ul>
    </header>


    {% endblock %}
    {% block content %}
<div class="container">
      <div class="jumbotron">
    {% block jumbotron %}
    <h1>the best way to find jobs instansouely</h1>
    <a href="{{ url_for('employee.login')}}"><button type="button" name="button">i am searching for a job</button></a>
    <a href="{{ url_for('employer.login') }}"><button type="button" name="button">post a job</button></a>
    {% endblock %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
