<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Jobs {% endblock %}</title>
    {% block links %}
    <link rel="stylesheet" href="static/css/master.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {% endblock %}
  </head>
  <body>
    {% block header %}

    <header>
      <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('mained.main') }}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('mained.about') }}">about</a></li>
{% if current_user.is_authenticated %}
  {% if current_user.employer %}
    <li class="breadcrumb-item" ><a href="{{ url_for('employer.account')}}"></a>{{ current_user.username }}</li>
  {% else %}
      <li class="breadcrumb-item" ><a href="{{ url_for('employee.account')}}"></a>{{ current_user.username }}</li>
  {% endif %}


{% endif %}


  </ol>
</nav>
    </header>


    {% endblock %}
    {% block content %}
<div class="container">
      <div class="jumbotron">
    {% block jumbotron %}
    <h1>the best way to find jobs instansouely</h1>
    <a href="{{ url_for('employee.register') }}"><button type="button" class="btn btn-primary" name="button">i am searching for a job</button></a>
    <a href="{{ url_for('employer.register')}}"><button type="button" class="btn btn-primary" name="button">post a job</button></a>
    {% endblock %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
