{% extends 'main.html' %}
{% block jumbotron %}
<img src="/static/media/{{ current_user.profile_pic}}" alt="">
<h3>{{ current_user.username }}</h3>
<h6>{{ current_user.email }}</h6>
{% if current_user.male %}
    <h6>{{ _('gender')}} :{{ _('male')}}</h6>
{% else %}
    <p>{{_('gender')}} : {{_('female')}}</p>
{% endif %}
<p>{{ current_user.phone_number }}</p>

<hr>
<p>
  {{ _('street') }} :  {{ current_user.address_street }} <br>
  {{_('city')}} : {{ current_user.address_city }}<br>
  {{_('province')}} : {{ current_user.address_province }}<br>
  {{_('country')}} : {{ current_user.address_country }}<br>
</p>
{% if current_user.employer %}
  <a href="{{ url_for('employer.update') }}"><button type="button" name="button" class="btn btn-secondary">{{ _('update') }}</button></a>
{% else %}
    <a href="{{ url_for('employee.update') }}"><button type="button" name="button" class="btn btn-secondary">{{ _('update')}}</button></a>
{% endif %}

{% if current_user.employer %}
    {% for var in current_user.author %}
       <h3>{{ var.author.text }}</h3><!-- change some of the author  check first -->
       <p>{{ var.author.title }}</p>
    {% endfor %}

{% endif %}


{% endblock %}
